.advantagesBlock {
  display: flex;
  justify-content: center;

  .advantagesContainer {
    padding: 50px 0 50px 0;
    width: 80%;

    .textContainer {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      position: relative;
      margin-bottom: 60px;

      .backgroundTextTitle {
        position: absolute;
        left: -130px;
        top: -20px;
        color: rgba(138,138,138,0.1);
        font-family: "Roboto", sans-serif;
        font-size: 100px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 0.9em;
        letter-spacing: 7.5px;

        @media (max-width: 1040px) {
          left: 0;
          top: -30px;
          font-size: 26px;
          color: rgba(138, 138, 138, 0.7);
        }
      }

      .textTitle {
        margin: 0;
        color: #2c2c2c;
        font-family: "Tinos", sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 1.2em;
        @media (max-width: 1040px) {
          font-size: 36px
        }
      }
    }

    .section {
      margin-top: 21px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1040px) {
        justify-content: center;
      }
    }
    @media (max-width: 1040px) {
      width: 95%;
    }
  }
}