.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin-top: 15px;
  width: 390px;
  height: 520px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  .img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .title {
    margin: 13px 0 8px 15px;
    color: #2c2c2c;
    font-family: "Tinos", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
  }

  .description {
    margin: 0 15px 1em 15px;
    color: #8a8a8a;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.45em;
    text-align: start;
  }

  .characteristicsContainer {
    width: 310px;
    padding: 0 40px 0 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;

    .characteristics {
      width: auto;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .characteristicsImg {
        width: 25px;
      }

      .characteristicsTitle {
        margin: 10px 0 0 0;
        color: #2c2c2c;
        font-family: "Tinos", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5em;
      }

      .characteristicsDescription {
        margin: 0;
        color: #8a8a8a;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.45em;
      }
    }
  }
}