.headerContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0 5px 10px -5px #e6e6e6;
  -moz-box-shadow: 0 5px 10px -5px #e6e6e6;
  box-shadow: 0 5px 10px -5px #e6e6e6;

  .headerSection {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .locoContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 10;
      .logo {
        height: 70%;
      }
      .text {
        margin: 0;
        font-family: "Tinos", sans-serif;
        font-size: 18px;
        font-weight: 400;
        .textSecond {
          color: #ce4d47;
        }
      }
      @media (max-width: 1040px) {
       height: 70%;
      }
    }
  }
}