.advantagesSection {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .img {
    height: 40px;
    width: 44px;
    padding-bottom: 5px;
  }
  .title {
    margin: 13px 0 8px 0;
    color: #2c2c2c;
    font-family: "Tinos", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
  }
  .description {
    margin: 0 0 1em;
    color: #8a8a8a;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.45em;
    text-align: start;
  }
}